## Lists
ordered sequences with [] bracket

In [1]:
my_list = [1,2,3]

In [2]:
my_list = ['string', 100, 23.2]

In [3]:
len(my_list)

3

In [5]:
#indexing and slicing\
my_list = ['one', 'two', 'three']

In [7]:
my_list[0]

'one'

In [8]:
my_list[1:]

['two', 'three']

In [9]:
#concatinating
another_list = ['four', 'five']

In [10]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [11]:
my_list

['one', 'two', 'three']

In [12]:
another_list

['four', 'five']

In [13]:
new_list = my_list + another_list

In [14]:
new_list

['one', 'two', 'three', 'four', 'five']

# change element in list

In [15]:
new_list[0] =  'ONE ALL CAPS'

In [16]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [17]:
#append is used to add in last 
new_list.append('six')

In [18]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [19]:
new_list.append('seven')

In [21]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [22]:
#moving item from list using pop from last
new_list.pop()

'seven'

In [23]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [24]:
popped_item = new_list.pop()

In [25]:
popped_item

'six'

In [26]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [27]:
#removing from specific index
new_list.pop(0)

'ONE ALL CAPS'

In [29]:
new_list

['two', 'three', 'four', 'five']

In [30]:
new_list.pop(-1)

'five'

In [31]:
new_list

['two', 'three', 'four']

In [32]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4,1,8,3]

In [33]:
new_list.sort()

In [34]:
new_list

['a', 'b', 'c', 'e', 'x']

In [35]:
#renaming for sort function is not work
my_sorted_list = new_list.sort()

In [36]:
my_sorted_list

In [37]:
type(my_sorted_list)

NoneType

In [39]:
#renaming of sort function is work like this
new_list.sort()
my_sorted_list = new_list

In [40]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [41]:
num_list.sort()

In [42]:
num_list

[1, 3, 4, 8]

In [43]:
num_list.reverse()

In [44]:
num_list

[8, 4, 3, 1]