# map function

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
#map(func, no. of iteration)
map(square, my_nums)

In [5]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [6]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [1]:
#function with string
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [2]:
names = ['Andy', 'Eve', 'Sally']

In [3]:
list(map(splicer, names))  #function itself passing as a argument as splicer

['EVEN', 'E', 'S']

# filter function

In [4]:
def check_even(num):
    return num%2 == 0

In [5]:
mynums = [1,2,3,4,5,6]

In [6]:
#getting even number from list
filter(check_even, mynums)

In [7]:
list(filter(check_even, mynums))

[2, 4, 6]

In [11]:
for n in filter(check_even, mynums):
    print (n)

2
4
6

# lambda expression

In [12]:
def square(num):
    result = num ** 2
    return result

In [13]:
square(3)

9

In [14]:
def square(num):
    return num**2

In [15]:
square(3)

9

In [16]:
def square(num): return num**2

In [17]:
square(3)

9

In [18]:
#lambda expression
square = lambda num: num**2

In [19]:
square(5)

25

In [20]:
list(map(lambda num:num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [21]:
list(filter(lambda num:num%2 == 0, mynums))

[2, 4, 6]

In [22]:
#print first word of string
names = ['Andy', 'Eve', 'Sally']

In [23]:
list(map(lambda n:n[0], names))

['A', 'E', 'S']

In [24]:
list(map(lambda n:n[::-1], names))

['ydnA', 'evE', 'yllaS']