In [1]:
import datetime

In [2]:
#creating date time timestamp
t = datetime.time(5,25,1)

In [4]:
print (t)

05:25:01

In [5]:
t.microsecond

0

In [6]:
t.minute

25

In [7]:
t.hour

5

In [9]:
datetime.time.min

datetime.time(0, 0)

In [10]:
print(datetime.time.max)

23:59:59.999999

In [11]:
print(datetime.time.resolution)

0:00:00.000001

In [12]:
today = datetime.date.today()

In [13]:
print(today)

2020-05-06

In [14]:
today.timetuple()

time.struct_time(tm_year=2020, tm_mon=5, tm_mday=6, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=127, tm_isdst=-1)

In [15]:
today.year

2020

In [16]:
today.month

5

In [17]:
today.day

6

In [19]:
datetime.date.min

datetime.date(1, 1, 1)

In [20]:
print(datetime.date.min)

0001-01-01

In [21]:
print(datetime.date.max)

9999-12-31

In [22]:
print(datetime.date.resolution)

1 day, 0:00:00

In [23]:
d1 = datetime.date(2015,3,11)
print(d1)

2015-03-11

In [24]:
d2 = d1.replace(year = 1990)

In [25]:
d2

datetime.date(1990, 3, 11)

In [26]:
d1

datetime.date(2015, 3, 11)

In [27]:
d2

datetime.date(1990, 3, 11)

In [28]:
d1 - d2

datetime.timedelta(days=9131)

In [30]:
print(d1 - d2)

9131 days, 0:00:00